output
test.ipynb
__pycache__
/kddcup22-sdwpf-evaluation/paddlepaddle/__pycache__
/kddcup22-sdwpf-evaluation/paddlepaddle/__pycache__

config/wpf

P2Ptree/raw_data/wtbdata_245days.csv
P2Ptree/data_del5_SingleLgbRepair
P2Ptree/checkpoints/mlgb
P2Ptree/kddcup22_sdwpf_evaluation/qiaosu
P2Ptree/kddcup22_sdwpf_evaluation/paddlepaddle
P2Ptree/kddcup22_sdwpf_evaluation/multi_frame
P2Ptree/kddcup22_sdwpf_evaluation/test_x.zip
P2Ptree/kddcup22_sdwpf_evaluation/test_y.zip
P2Ptree/kddcup22_sdwpf_evaluation/paddlepaddle/tests
P2Ptree/kddcup22_sdwpf_evaluation/torch

kddcup22-sdwpf-evaluation/test_x_144.zip
kddcup22-sdwpf-evaluation/test_x_raw.zip
kddcup22-sdwpf-evaluation/test_y_raw.zip
kddcup22-sdwpf-evaluation/paddlepaddle/tests/test-lxf-0719-1.zip
kddcup22-sdwpf-evaluation/paddlepaddle/tests/test-lxf-0719-test.zip
kddcup22-sdwpf-evaluation/paddlepaddle/tests/test-lxf-0719.zip
kddcup22-sdwpf-evaluation/paddlepaddle/tests/test-lxf-0719-2.zip
kddcup22-sdwpf-evaluation/paddlepaddle/tests/test-lxf-0719-3.zip

**/data/*
!**/data/preprocessed.ipynb